<header>
    <div class="container1">
        <input type="checkbox" name="" id="check">
        
        <div class="logo-container1">
            <h3 class="logo">KLV<span>Kingdom</span></h3>
            <!-- <a class="logo" href="/"><img src="/images/klv-logo.png" alt=""></a> -->
        </div>

        <div class="nav-btn1">
            <div class="nav-links1">
                <ul>
                    <li class="nav-link1" style="--i: .6s">
                        <a class="linkd" style="text-decoration: none;" href="/">Home</a>
                    </li>
                    <li class="nav-link1" style="--i: .85s">
                        <a class="linkd" style="text-decoration: none;" href="/aboutus">About Us</a>
        
                    </li>
                    <li class="nav-link1" style="--i: 1.1s">
                        <a class="linkd" style="text-decoration: none;" href="/services">Services</a>
                        <div class="dropdown1">
                            <ul>
                                <li class="dropdown-link1">
                                    <a style="text-decoration: none;" href="/construction">Construction</a>
                                </li>
                                <li class="dropdown-link1">
                                    <a style="text-decoration: none;" href="/granite">Granite and Marble</a>

                                    
                                        <div class="dropdown1 second">
                                            <ul>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/black-galaxy">Black Galaxy</a>
                                                </li>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/steel-grey">Steel Grey</a>
                                                </li>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/black-pearl">Black Pearl</a>
                                                </li>

                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/absolute-black">Absolute Black</a>
                                                </li>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/maple-red">Maple Red</a>
                                                </li>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/tan-brown">Tan Brown</a>
                                                </li>

                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/moon-white">Moon White</a>
                                                </li>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/vizag-blue">Vizag Blue</a>
                                                </li>
                                                <li class="dropdown-link1">
                                                    <a style="text-decoration: none;" href="/granite/quartz-stone">Quartx Stone</a>
                                                </li>
                        
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>



                                </li>
                                <li class="dropdown-link1">
                                    <a style="text-decoration: none;" href="/informationtechnology">Information Technology</a>
                                </li>
                                <li class="dropdown-link1">
                                    <a style="text-decoration: none;" href="/import&export">Import and Export</a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link1" style="--i: 1.35s">
                        <a class="linkd" style="text-decoration: none;" href="/gallary">Gallary</a>
                    </li>

                    <li class="nav-link1" style="--i: 1.35s">
                        <a class="linkd" style="text-decoration: none;" href="/contactus">Contact Us</a>
                    </li>

                </ul>
            </div>

           
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>