<%- include("partials/header.ejs") %> 
     
  <div class="atdiv">
    <%- include("partials/navbar.ejs") %> 
    
  <hr style="position: fixed; top:180px; left: 260px; width: 110px; height: 110px;">
  <hr style="transform: rotate(90deg); position:fixed; left: 260px;top: 180px; width: 110px; height: 110px">
  <hr style="transform: rotate(90deg); position: fixed; left: 150px; top:180px; width: 110px; height: 110px;">
  <hr style="position: fixed; top: 290px;left: 260px; width: 110px; height: 110px;">
  
  <hr style="position: fixed; bottom: 80px; right:240px ; width: 110px; height: 110px;"> 
  <hr style=" transform: rotate(90deg); position: fixed; right: 240px; bottom: 80px; width: 110px; height: 110px;">
  <hr style=" transform: rotate(90deg); position: fixed; right: 350px; bottom: 80px; width: 110px; height: 110px;" >
  <hr style="position: fixed; right: 240px;top: 625px; width: 110px; height: 110px;">

    <div class="about">
        <h1>About Klv Kingdom Pvt.Ltd</h1>

        <p>Incorporated in 2018 in Vijayawada, Andhra Pradesh under MINISTRY OF CORPORATE AFFAIRS and also registered in MSME and GST. We are also located in Telangana. KLV Kingdom Pvt. Ltd. is one of the upcoming Multi Service Private Limited Company in India.</p>
        
          <p>  Since the commencement of the business, our company has been a Quality Conscious Company as it helps in creating trust of the company in the market. We have set our goals very high, keeping in the mind our customers, vision and driven by determination we completed a couple of our projects in record time. We take great pride in offering international standard products, exceptional services, and a wide product range. For us the single most important thing is customer satisfaction. We have in house highly talented & experienced employees.</p>
        </div>
</div>    

<div class="mdiv">
<div class="mission">
  <h2> Our Mission</h2>
  <p>Our mission is to provide Quality Materials at a fair price. We strongly believe in the
    principles of Integrity and Honesty in all of our relationships. </p>

    <p>These values have been our guiding lights on our road to excellence. 
      We believe in unwavering commitment to customer satisfaction.</p>
</div>
</div>

<div class="mdiv">

    <div class="whyus">
        <h2>Why Us</h2>
        <h6>We always think from the customer point of view.</h6>

          <p>   We provide Quality Materials at a fair price.</p>
            
          <p>   We value and respect all our customers and we do not differentiate between
            
            small or big. </p>
            
           <p>  We have a wide range of granites: tiles and slabs. </p>
            
           <p>  We also offer quartz stone.</p>
            
           <p>  Customers can choose from a palette of colors, finishes and textures. </p>
            
           <p>  We are capable of delivering different products from blocks to slabs and cut to
            
            size work. </p>
            
            <p>  We are equipped with the best machinery. The equipment includes, gang saws,
            
            wire saws, multi-head line polishing. </p>
            
            <p>  Our staff is highly experienced and talented. </p>
            
            <p>  Our USP is Best Quality, Timely Delivery and Prompt After- Sale Services.</p>
    </div>
      
</div>




<div class="ga">
  <section class="lastsec">
      
      <div class="row">
          
          <div class="col-lg-6">
              <div class="lcol">
  
                  
              <table class="lasttab">   
                  <th style="text-align: center;"><h4 class="workh">Working Hours</h4></th>    
             <tr>
                 <td class="ltd">Monday</td>
                 <td class="rtd"> 9am - 5pm</td>
             </tr>
             <tr>
              <td class="ltd">Tuesday</td>
              <td class="rtd"> 9am - 5pm</td>
          </tr>
          <tr>
              <td class="ltd">Wednesday</td>
              <td class="rtd"> 9am - 5pm</td>
          </tr>
          <tr>
              <td class="ltd">Thursday</td>
              <td class="rtd"> 9am - 5pm</td>
          </tr>
          <tr>
              <td class="ltd">Friday</td>
              <td class="rtd"> 9am - 5pm</td>
          </tr>
          <tr>
              <td class="ltd">Saturday</td>
              <td class="rtd">9am - 1am</td>
          </tr>
          <tr>
              <td class="ltd">Sunday</td>
              <td class="rtd">Holiday</td>
          </tr>
          
          </table>
       </div>
          </div>
  
  
         <div class="col-lg-6">
              <div class="rcol">
                  <div id="mov">
  
                <h4>Socialise With Us</h4>
               <p>Contact Us via Social Networks</p>
               <a href="https://www.facebook.com" class="fa fa-facebook"></a>
               <a href="https://www.twitter.com/BuzzWebMedia" class="fa fa-twitter"></a>
               <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
          
  
          
               <h5>Subscribe</h5>
            
               <form action="/" method="GET">
                  <div class="form-group mx-sm-3 mb-2">
                      <table>
                      <tr>
                          <td><input type="email" class="form-control" id="lastdiv" placeholder="Email Address"></td> 
                      <td><button type="submit" class="btn btn-primary mb-2" id="button"><img src="/images/email.png" style="width: 30px; height: 30px;" alt=""></button> </td>
                  </tr>
                  </table>
                  </div>
                   
               </form>
  
               </div>
              </div>
         </div>
  
    
      </div>
  </section>
  <p class="copyrighta"> <span style="margin-right: 27%;">Copyright &#169 2021 KLV Kingdom</span></p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>