

<%- include("partials/header.ejs") %>  

<style>
  body{
    background: #E6E7E5;
  }
</style>

<div class="gdiv">
    <%- include("partials/navbar.ejs") %> 

    <h1 style="text-align:center; padding-top: 6%;">Gallary</h1>

    <div class="row t">

        <div class="card" style="width: 18rem; margin-top: 5%;">
            <img src="\images\IMG_7300.jpg" class="card-img-top imgg" alt="...">
          </div>
        
          <div class="card" style="width: 18rem; margin-top: 5%;">
            <img src="\images\IMG_7315.jpg" class="card-img-top imgg" alt="...">
          </div>
    
          <div class="card" style="width: 18rem; margin-top: 5%;">
            <img src="\images\IMG_7340.jpg" class="card-img-top imgg" alt="...">
          </div>

    </div>
   
    <div class="row t1">
    
          <div class="card" style="width: 18rem; margin-top: 5%;">
            <img src="\images\IMG_7350.jpg" class="card-img-top imgg" alt="...">
          </div>
    
          <div class="card" style="width: 18rem; margin-top: 5%;">
            <img src="\images\IMG_7297.jpg" class="card-img-top imgg" alt="...">
          </div>

    </div>

</div>


<%- include("partials/footer.ejs") %>