<%- include("partials/header.ejs") %>  


<div class="mg">
    <%- include("partials/navbar.ejs") %>

      <h1 style="text-align: center; font-family: 'Pangolin', cursive; margin-top: 11%;">Granite and Marble</h1>

        <div class="row" style="padding-left:20%; padding-right:15%; padding-top: 2%;" >
          <div class="col-lg-4" >
            <div class="card" style="width: 18rem; margin-top: 5%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Black Galaxy</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="/granite/black-galaxy" class="bt">Read more</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem; margin-top: 5%;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Steel Grey</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <a href="/granite/steel-grey" class="bt">Read more</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" style="width: 18rem; margin-top: 5%;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Black Pearl</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                          <a href="/granite/black-pearl" class="bt">Read more</a>
                        </div>
                      </div>
                    </div>
        </div>

        <div class="row" style="padding-left:20%; padding-right:15%; padding-top: 4%;" >
            <div class="col-lg-4" >
              <div class="card" style="width: 18rem; margin-top: 5%;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Absolute Black</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="/granite/absolute-black" class="bt">Read more</a>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4">
                  <div class="card" style="width: 18rem; margin-top: 5%;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Maple Red</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="/granite/maple-red" class="bt">Read more</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-4">
                      <div class="card" style="width: 18rem; margin-top: 5%;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Tan Brown</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                            <a href="/granite/tan-brown" class="bt">Read more</a>
                          </div>
                        </div>
                      </div>
          </div>

          <div class="row" style="padding-left:20%; padding-right:15%; padding-top: 4%;" >
            <div class="col-lg-4" >
              <div class="card" style="width: 18rem; margin-top: 5%;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Moon White</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="/granite/mooon-white" class="bt">Read more</a>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4">
                  <div class="card" style="width: 18rem; margin-top: 5%;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Vizag Blue</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="/granite/vizag-blue" class="bt">Read more</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-4">
                      <div class="card" style="width: 18rem; margin-top: 5%;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Quartz Stone</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                            <a href="/granite/quartz-stone" class="bt">Read more</a>
                          </div>
                        </div>
                      </div>
          </div>
    


  <div class="m">
    <h1>About KLV Granite and Marble</h1>
    <div class="mpara">
     <p>We are equipped with state-of-the art granite processing machinery. Equipment at our factory includes Multi cutters, Gang saws, multi-head line polishing and manual polishing. 
        As we collaborated with other best Granite quarries and best manufacturing units, we provide any range of slabs and tiles, different colors, different finishes and textures for any kind of use. 
        Apart from granite, we also deal in other natural stones such as sandstone, marble and quartz. Since 2018, we have established a clientele in the domestic and overseas market.
         Our clients include builders, importers, wholesalers,  Retailers, architects and home owners too.</p>
    </div>
  </div>
</div>


<div class="gg">
    <section class="lastsec">
        
        <div class="row">
            
            <div class="col-lg-6">
                <div class="lcol">
    
                    
                <table class="lasttab">   
                    <th style="text-align: center;"><h4 class="workh">Working Hours</h4></th>    
               <tr>
                   <td class="ltd">Monday</td>
                   <td class="rtd"> 9am - 5pm</td>
               </tr>
               <tr>
                <td class="ltd">Tuesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Wednesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Thursday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Friday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Saturday</td>
                <td class="rtd">9am - 1am</td>
            </tr>
            <tr>
                <td class="ltd">Sunday</td>
                <td class="rtd">Holiday</td>
            </tr>
            
            </table>
         </div>
            </div>
    
    
           <div class="col-lg-6">
                <div class="rcol">
                    <div id="mov">
    
                  <h4>Socialise With Us</h4>
                 <p>Contact Us via Social Networks</p>
                 <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                 <a href="https://www.twitter.com/BuzzWebMedia" class="fa fa-twitter"></a>
                 <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
            
    
            
                 <h5>Subscribe</h5>
              
                 <form action="/" method="GET">
                    <div class="form-group mx-sm-3 mb-2">
                        <table>
                        <tr>
                            <td><input type="email" class="form-control" id="lastdiv" placeholder="Email Address"></td> 
                        <td><button type="submit" class="btn btn-primary mb-2" id="button"><img src="/images/email.png" style="width: 30px; height: 30px;" alt=""></button> </td>
                    </tr>
                    </table>
                    </div>
                     
                 </form>
    
                 </div>
                </div>
           </div>
    
      
        </div>
    </section>
    <p class="copyrightg"> <span style="margin-right: 27%;">Copyright &#169 2021 KLV Kingdom</span></p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>


