
<%- include("partials/header.ejs") %>  

<style>
    body{
        background: #CAE8D5;
    }
</style>
 
 

<div class=""> 
      <%- include("partials/navbar.ejs") %>

      <div>
        <h1 style="text-align: center; padding-top: 8%; font-family: 'Pangolin', cursive; margin-bottom: 0;">Thankyou for writing to us</h1>
      </div>

      <div>
        <h6 style="text-align: center;padding-top: 4%; font-family: 'Pangolin', cursive;"><a style="text-decoration: none;" href="/services">Continue to our Services</a></h6>
      </div>

</div>



<div class="g">
    <section class="lastsec" style=" margin: 5% 0 0">
        
        <div class="row">
            
            <div class="col-lg-6">
                <div class="lcol">
    
                    
                <table class="lasttab">   
                    <th style="text-align: center;"><h4 class="workh">Working Hours</h4></th>    
               <tr>
                   <td class="ltd">Monday</td>
                   <td class="rtd"> 9am - 5pm</td>
               </tr>
               <tr>
                <td class="ltd">Tuesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Wednesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Thursday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Friday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Saturday</td>
                <td class="rtd">9am - 1am</td>
            </tr>
            <tr>
                <td class="ltd">Sunday</td>
                <td class="rtd">Holiday</td>
            </tr>
            
            </table>
         </div>
            </div>
    
    
           <div class="col-lg-6">
                <div class="rcol">
                    <div id="mov">
    
                  <h4>Socialise With Us</h4>
                 <p>Contact Us via Social Networks</p>
                 <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                 <a href="https://www.twitter.com/BuzzWebMedia" class="fa fa-twitter"></a>
                 <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
            
    
            
                 <h5>Subscribe</h5>
              
                 <form action="/" method="GET">
                    <div class="form-group mx-sm-3 mb-2">
                        <table>
                        <tr>
                            <td><input type="email" class="form-control" id="lastdiv" placeholder="Email Address"></td> 
                        <td><button type="submit" class="btn btn-primary mb-2" id="button"><img src="/images/email.png" style="width: 30px; height: 30px;" alt=""></button> </td>
                    </tr>
                    </table>
                    </div>
                     
                 </form>
    
                 </div>
                </div>
           </div>
    
      
        </div>
    </section>
    <p class="copyrightsu"> <span style="margin-right: 27%; ">Copyright &#169 2021 KLV Kingdom</span></p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>