

<%- include("partials/header.ejs") %>  
 
 

<div class="midiv"> 
      <%- include("partials/navbar.ejs") %>
    <div class="row s">
   
       <div class="col-lg-5 col-sm-6 stdiv" >
           <h2 style="text-align: center;">Services</h2>
           <p style="text-align: center; font-size: 1.3rem;"> KLV kingdom have been serving in construction, Information Technology, Export and Imports. </p>
           <p style="text-align: center; font-size: 1.3rem;"> We had a long list of Granite and Marble with various colors, types and costs.</p>
       </div>
    </div>

    <div class="row s">
       
       <div class="col-md-7 col-sm-6 stdiv2" style="padding-right: 0 !important;">
           <div class="row" id="row1">
                   <ul class="cards">
                       <li>
                           <a href="granite" class="card1">
                             <img src="/images/img5.jpg" class="card__image" alt="" />
                             <div class="card__overlay">        
                               <div class="card__header">
                                 <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>        
                                 <div class="card__header-text">
                                   <h3 class="card__title">Granite and Marble</h3>
                                 </div>
                               </div>
                               <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis? <span class="card__description" style="color: cadetblue;">read more</span></p>
                               
                             </div>
                           </a>
                         </li>
                       <li>
                         <a href="/construction" class="card1">
                           <img src="/images/img6.jpg" class="card__image" alt="" />
                           <div class="card__overlay">        
                             <div class="card__header">
                               <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>       
                               <div class="card__header-text">
                                 <h3 class="card__title">Construction</h3>
                               </div>
                             </div>
                             <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis? <span class="card__description" style="color: cadetblue;">read more</span></p>
                             
                           </div>
                         </a>
                       </li>
                       
                       <li>
                         <a href="/informationtechnology" class="card1">
                           <img src="/images/img7.jpg" class="card__image" alt="" />
                           <div class="card__overlay">
                             <div class="card__header">
                               <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>        
                               <div class="card__header-text">
                                 <h3 class="card__title">Information Technology</h3>
                               </div>
                             </div>
                             <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis? <span class="card__description" style="color: cadetblue;">read more</span></p>
                             
                           </div>
                         </a>
                       </li>

                       <li>
                         <a href="/importexport" class="card1">
                           <img src="/images/img9.jpg" class="card__image" alt="" />
                           <div class="card__overlay">
                             <div class="card__header">
                               <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>        
                               <div class="card__header-text">
                                 <h3 class="card__title">Export and Import</h3>
                               </div>          
                             </div>
                             <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis? <span class="card__description" style="color: cadetblue;">read more</span></p>
                             
                           </div>
                         </a>
                       </li>  

                     </ul>
            </div>
        </div>
    </div>
    <span class="conta"></span>
</div>


<div class="gs">
    <section class="lastsec">
        
        <div class="row">
            
            <div class="col-lg-6">
                <div class="lcol">
    
                    
                <table class="lasttab">   
                    <th style="text-align: center;"><h4 class="workh">Working Hours</h4></th>    
               <tr>
                   <td class="ltd">Monday</td>
                   <td class="rtd"> 9am - 5pm</td>
               </tr>
               <tr>
                <td class="ltd">Tuesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Wednesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Thursday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Friday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Saturday</td>
                <td class="rtd">9am - 1am</td>
            </tr>
            <tr>
                <td class="ltd">Sunday</td>
                <td class="rtd">Holiday</td>
            </tr>
            
            </table>
         </div>
            </div>
    
    
           <div class="col-lg-6">
                <div class="rcol">
                    <div id="mov">
    
                  <h4>Socialise With Us</h4>
                 <p>Contact Us via Social Networks</p>
                 <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                 <a href="https://www.twitter.com/BuzzWebMedia" class="fa fa-twitter"></a>
                 <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
            
    
            
                 <h5>Subscribe</h5>
              
                 <form action="/" method="GET">
                    <div class="form-group mx-sm-3 mb-2">
                        <table>
                        <tr>
                            <td><input type="email" class="form-control" id="lastdiv" placeholder="Email Address"></td> 
                        <td><button type="submit" class="btn btn-primary mb-2" id="button"><img src="/images/email.png" style="width: 30px; height: 30px;" alt=""></button> </td>
                    </tr>
                    </table>
                    </div>
                     
                 </form>
    
                 </div>
                </div>
           </div>
    
        </div>
        
    </section>
    <p class="copyrights"> <span style="margin-right: 27%;">Copyright &#169 2021 KLV Kingdom</span></p>
</div> 


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>