<%- include("partials/header.ejs") %>  

<style>
    body{
        background: #E1D89F repeat fixed 100%;
    }
</style>

<div class="steelg">

    <%- include("partials/navbar.ejs") %> 

    <h1 style="text-align: center; padding-top: 10%; font-family: 'Pangolin', cursive;">Steel Grey</h1>

    <div class="row" style="padding: 4% 0; font-family: 'Pangolin', cursive;" >

        <div class="col-lg-6 col-sm-12" style="padding-left: 10%; margin:50px 0;">

         <div class="row">
             <img src="/images/steel-grey/steel-grey1.jpg" alt="">
             <img src="/images/steel-grey/steel-grey2.jpg" alt="">
             <img src="/images/steel-grey/steel-grey3.jpg" alt="">
         </div>

         <div class="row">
            <img src="/images/steel-grey/steel-grey12.jpg" alt="">
            <img src="/images/steel-grey/steel-grey13.jpeg" alt="">
            <img src="/images/steel-grey/steel-grey8.jpg" alt="">
        </div>

        <div class="row">
            <img src="/images/steel-grey/steel-grey7.jpg" alt="">
            <img src="/images/steel-grey/steel-grey11.jpeg" alt="">
            <img src="/images/steel-grey/steel-grey9.jpg" alt="">
        </div>

        <div class="row">
            <img src="/images/steel-grey/steel-grey14.jpeg" alt="">
            <img src="/images/steel-grey/steel-grey10.jpeg" alt="">
            <img src="/images/steel-grey/steel-grey4.jpg" alt="">
        </div>

        </div>

        <div class="col-lg-6 col-sm-12" style="margin:50px 0;">
          <h1 style="text-align: center;">About Product</h1>
          <div style="text-align: left; padding: 0 9px; font-size: 1.2rem;">

          <p>It is the most famous granite and has the highest sales in Indian market and exports. 
              It’s affordable price and durability are key factors for higher sales in the market. 
              Main variants are Steel Grey Dark & Steel Grey Light. 
            </p>

            <p>These quarries are widely spread across the Prakasam district, Andhra Pradesh, India. 
                Because of widespread the shading of the granite varies slightly from one quarry to another. </p>

            <p> Because of widespread the shading of the granite varies slightly from one quarry to another. </p>

            <p>It is available in three qualities.</p>

            <p>Quality 1: Also known as Fresh quality which will not have any 
                visible veins, no patches and the grey flower spread evenly throughout the slabs.</p>

            <p>  Quality 2: Also known as Commercial which would have one very light visible (if one observes particular) veins.
                 And grey flowers spread evenly throughout the slabs. Or small patches. </p>

            <p>   Quality 3: Also known as super commercial 
                which would have a couple of visible veins or grey flower patches or combination of both.
            </p>

            <p>However, Any of these visible qualities will not affect the Integrity of the material. </p>

        </div>

        </div>

    </div>

    <div class="row" style="font-family: 'Pangolin', cursive;">

        <div class="col-lg-6 col-sm-12" style="padding-bottom:50px;">

            <h4 style="text-align: center;">KLV Key Notes</h4>

            <p style="text-align: center; width: 90%; padding-left: 10%; font-size: 1.2rem;">We can provide any size & finishing as per client requirement
                 subject to quantity and availability at the time ordering.</p>
        </div>

        <div class="col-lg-6 col-sm-12" style="font-size: 1.07rem; padding:0 6%; padding-bottom: 30px;">

            <h6 style="font-size: 1.07rem;"> <span style="font-size: 1.3rem;">APPLICATIONS : </span>IT IS USED INBOTH COMMERCIAL
                 AND RESIDENTIAL PROJECTS FOR INTERIOR, EXTERIOR,FLOORING, COUNTERTOPS, STAIRS AND LANDSCAPING.</h6>

                 <p><span style="font-size: 1.4rem;">Variants : </span> It is available in different textures like Polished, Flamed, Lapotra, 
                     leather and brush finish.</p>

                     <p> <span style="font-size: 1.4rem;">Specifications : </span> Market availability sizes are
                          Hight 2 to 3 feet, Length 6 to 10 feet and at 16mm Thickness..</p>
        </div>
    </div>


</div>
    

    
<div class="gb">
    <section class="lastsec">
        
        <div class="row">
            
            <div class="col-lg-6">
                <div class="lcol">
    
                    
                <table class="lasttab">   
                    <th style="text-align: center;"><h4 class="workh">Working Hours</h4></th>    
               <tr>
                   <td class="ltd">Monday</td>
                   <td class="rtd"> 9am - 5pm</td>
               </tr>
               <tr>
                <td class="ltd">Tuesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Wednesday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Thursday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Friday</td>
                <td class="rtd"> 9am - 5pm</td>
            </tr>
            <tr>
                <td class="ltd">Saturday</td>
                <td class="rtd">9am - 1am</td>
            </tr>
            <tr>
                <td class="ltd">Sunday</td>
                <td class="rtd">Holiday</td>
            </tr>
            
            </table>
         </div>
            </div>
    
    
           <div class="col-lg-6">
                <div class="rcol">
                    <div id="mov">
    
                  <h4>Socialise With Us</h4>
                 <p>Contact Us via Social Networks</p>
                 <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                 <a href="https://www.twitter.com/BuzzWebMedia" class="fa fa-twitter"></a>
                 <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
            
    
            
                 <h5>Subscribe</h5>
              
                 <form action="/" method="GET">
                    <div class="form-group mx-sm-3 mb-2">
                        <table>
                        <tr>
                            <td><input type="email" class="form-control" id="lastdiv" placeholder="Email Address"></td> 
                        <td><button type="submit" class="btn btn-primary mb-2" id="button"><img src="/images/email.png" style="width: 30px; height: 30px;" alt=""></button> </td>
                    </tr>
                    </table>
                    </div>
                     
                 </form>
    
                 </div>
                </div>
           </div>
    
      
        </div>
    </section>
    <p class="copyrightb"> <span style="margin-right: 27%;">Copyright &#169 2021 KLV Kingdom</span></p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>